/* Define the style of the page*/ 
body {
    background-color: rgb(161, 218, 228);
}

p {
    color: pink;
    background: yellow;
}

h1 {
    color: salmon;
}

a {
    text-decoration: None;
}

img {
    margin: 50px;
    padding: 20px;
    border: 1px solid black;
  }
/* Create classes */ 
.highlight {
   background: blue;
   font-size: 20px;
   color: white;
}

.bigger{
    font-size: 40px;
    
}